<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="http://developers.kakao.com/sdk/js/kakao.min.js"></script>
  </head>
    <h1><%= title %></h1>
    <p>웹툰 리스트</p>


    <a href="/auth/login/kakao" class="btn btn-block btn-lg btn-warning btn_login">로그인</a>

    <table>
    <%
    var current = "";
    for(jsonString in list){
        var A=JSON.parse(list[jsonString]);
        if(current!=A.week){
            if(current!=""){
        %>
        </tr>
        <% } %>
        <tr>
            <th><%= A.week %></th>
        <% } %>
            <td>
            <a href="<%= A.webtoon_link %>">
                <img src="<%= A.thum_link %>"/>
            </a>
            <%= A.name %>
            </td>
        <%
        if(current!=A.week) {
            current = A.week;
            %>

    <%
        }
    }
    %>
        </tr>
    </table>
    </br>


  </body>

</html>
