<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="http://developers.kakao.com/sdk/js/kakao.min.js"></script>
  </head>
    <h1><%= title %></h1>
    <p>웹툰 리스트</p>

    <a href="/auth/login/kakao" class="btn btn-block btn-lg btn-warning btn_login">로그인</a>

    <table>
    <%
    var current = "";
    for(webtoon in list){

        if(current!=list[webtoon].week){
            if(current!=""){
        %>
        </tr>
        <% } %>
        <tr>
            <th><%= list[webtoon].week %></th>
        <% } %>
            <td>
            <a href="<%= list[webtoon].webtoon_link %>">
                <img alt="img" width="83" height="90" src="<%= list[webtoon].thum_link %>"/>
            </a>
            <%= list[webtoon].name %>
            </td>
        <%
        if(current!=list[webtoon].week) {
            current = list[webtoon].week;
            %>

    <%
        }
    }
    %>
        </tr>
    </table>
    </br>


  </body>

</html>
