<!DOCTYPE html>
<html>
<head>
    <title>내툰</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .toon_name,.toon_thumbnail{
            width:10%;
        }

        td{
            vertical-align: middle;
            border-bottom: 1px solid #bcbcbc;
            border-left: 1px solid #bcbcbc;
            border-right: 1px solid #bcbcbc;
            margin:0;
            Text-align:center;
        }
        table{
            border-collapse:collapse;
            border: 2px solid #474747;
        }
        th{
            border-bottom:2px solid #474747;
        }
    </style>
</head>
<h1>내툰</h1>
<p>추가한 리스트</p>
<a href="/auth/logout/kakao">로그아웃</a>
<a href="/setting/">수정하기</a>
<table>
    <tr>
        <th>썸네일</th>
        <th>웹툰명</th>
        <th>요일</th>
        <th>사이트</th>
        <th>바로가기</th>
    </tr>
    <!--로그인한 회원이 내툰에 웹툰이 없을시-->
    <%if (mytoons.length==0){
    %>
        <th>내툰리스트에 웹툰이 없습니다! 수정하기 버튼을 눌러서 추가하세요!</th>
    <%}%>
           <% for(i=0;i<mytoons.length; i++){
        %><tr>
            <td class="toon_thumbnail"><image src="<%= mytoons[i].thum_link%>"/></td>
            <td class="toon_name"><%= mytoons[i].name %></td>
             <td class="week"><%= mytoons[i].week.toLowerCase() %></td>
            <td class="site"><%= mytoons[i].site %></td>
            <td class="webtoon_link"><a href="<%=mytoons[i].webtoon_link%>">바로가기</a></td>
    </tr>
    <% } %>

</table>

</br>


</body>

</html>
