<!DOCTYPE html>
<html>
<head>
    <title>내툰</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Touché</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .toon_name,.toon_thumbnail{
            width:10%;
        }

        td{
            vertical-align: middle;
            border-bottom: 1px solid #bcbcbc;
            border-left: 1px solid #bcbcbc;
            border-right: 1px solid #bcbcbc;
            margin:0;
            Text-align:center;
        }
        table{
            border-collapse:collapse;
            border: 2px solid #474747;
        }
        th{
            border-bottom:2px solid #474747;
        }
    </style>

</head>
<h1>내툰</h1>
<p>추가한 리스트</p>
<a href="/auth/logout/kakao">로그아웃</a>
<br>
<a href="/setting/"><img src = "/images/basket.png" height="50" witdh="50">웹툰 담기</a>
<table>
    <tr>
        <th>썸네일</th>
        <th>웹툰명</th>
        <th>요일</th>
        <th>사이트</th>
        <th>바로가기</th>
        <th>오늘 업데이트됨</th>
    </tr>
    <!--로그인한 회원이 내툰에 웹툰이 없을시-->
    <%if (mytoons.length==0){
    %>
        <th>내툰리스트에 웹툰이 없습니다! 수정하기 버튼을 눌러서 추가하세요!</th>
    <%}%>
           <% for(i=0;i<mytoons.length; i++){
        %><tr>
            <td class="toon_thumbnail"><image src="<%= mytoons[i].thum_link%>"/></td>
            <td class="toon_name"><%= mytoons[i].name %></td>
             <td class="week"><%= mytoons[i].week.toLowerCase() %></td>
            <td class="site"><%= mytoons[i].site %></td>
            <td class="webtoon_link"><a href="<%=mytoons[i].webtoon_link%>">바로가기</a></td>
            <td class="Updated">
              <% var d = new Date();
                             if(d.getDay() == 0 && mytoons[i].week == "sun")
                           {  %>
                             O
                         <%} %>
                         <%
                           if(d.getDay() == 0 && mytoons[i].week == "SUN")
                         {  %>
                           O
                       <%} %>
                       <%
                         if(d.getDay() == 1 && mytoons[i].week == "mon")
                       {  %>
                         O
                     <%} %>
                     <%
                       if(d.getDay() == 1 && mytoons[i].week == "MON")
                     {  %>
                       O
                   <%} %>
                   <%
                     if(d.getDay() == 2 && mytoons[i].week == "tue")
                   {  %>
                     O
                 <%} %>
                 <%
                   if(d.getDay() == 2 && mytoons[i].week == "TUE")
                 {  %>
                   O
               <%} %>
               <%
                 if(d.getDay() == 3 && mytoons[i].week == "wed")
               {  %>
                 O
             <%} %>
             <%
               if(d.getDay() == 3 && mytoons[i].week == "WED")
             {  %>
               O
             <%} %>
             <%
               if(d.getDay() == 4 && mytoons[i].week == "thu")
             {  %>
               O
             <%} %>
             <%
               if(d.getDay() == 4 && mytoons[i].week == "THU")
             {  %>
               O
             <%} %>
             <%
               if(d.getDay() == 5 && mytoons[i].week == "fri")
             {  %>
               O
             <%} %>
             <%
               if(d.getDay() == 5 && mytoons[i].week == "FRI")
             {  %>
               O
             <%} %>
             <%
               if(d.getDay() == 6 && mytoons[i].week == "sat")
             {  %>
               O
             <%} %>
             <%
               if(d.getDay() == 6 && mytoons[i].week == "SAT")
             {  %>
               O
             <%} %>
              </td>

    </tr>
    <% } %>

</table>

</br>


</body>

</html>
