<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>웹툰 담기</title>
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <<!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gugi&amp;subset=korean" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .registered{
            background-color: #AAAAAA;
        }
        .toon_name,.toon_thumbnail{
            width:10%;
        }

        td{
            vertical-align: middle;
            border-bottom: 1px solid #bcbcbc;
            border-left: 1px solid #bcbcbc;
            border-right: 1px solid #bcbcbc;
            margin:0;
            Text-align:center;
        }
        table{
            border-collapse:collapse;
            border: 2px solid #474747;
        }
        th{
            border-bottom:2px solid #474747;
        }
    </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="#page-top" style="font-family:Gugi">웹툰담기</a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/mytoons" class="page-scroll">MyList</a></li>
                <li><a href="/auth/logout/kakao" class="page-scroll">Logout</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<div id="portfolio">
    <div class="section-title text-center center">
        <div class="overlay">
            <h2>웹툰담기</h2>
            <hr>
            <p>추가하거나 제거할 웹툰을 선택해주세요</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="categories">

<br>

    <a onclick="daumtoons.style.display=(daumtoons.style.display=='none')?'block':'none';" href="javascript:void(0)">
  <img src ='/images/daumicon.png' width="83" height="90" onclick="daum_click" />
</a>
<div id="daumtoons" style="display:none">

<table>
    <%
    var current = "";
    for(webtoon in alltoons){
      if(alltoons[webtoon].site == "daum")
      {
        if(current!=alltoons[webtoon].week){
            if(current!=""){
    %>
    </tr>
        <% } %>
    <tr>
      <th><%= alltoons[webtoon].week %></th>
        <% } %>

        <td class="<%
        for(i=0;i<mytoons.length;i++){
        if(mytoons[i].name == alltoons[webtoon].name){
        %>registered<%
            break;
            }
        }
        %>">
            <form method="post" action="/setting/toggle_toon">
                <input type="hidden" name="toon_index" value="<%= alltoons[webtoon].toon_index %>">
                <input  TYPE="IMAGE" src="<%= alltoons[webtoon].thum_link %>" name="Submit" value="Submit"  align="absmiddle">
            </form>
            <%= alltoons[webtoon].name; %>
        </td>
        <%
        if(current!=alltoons[webtoon].week) {
            current = alltoons[webtoon].week;
        %>

        <%
        }
        }
      }
        %>
    </tr>

</table>
</form>
</div>
  <a onclick="navertoons.style.display=(navertoons.style.display=='none')?'block':'none';" href="javascript:void(0)">
  <img src ='/images/navericon.png' width="83" height="90"/>
</a>
<div id="navertoons" style="display:none">

<table>
    <%
    var current = "";
    for(webtoon in alltoons){
      if(alltoons[webtoon].site == "naver")
      {
        if(current!=alltoons[webtoon].week){
            if(current!=""){
    %>
    </tr>
        <% } %>
    <tr>
      <th><%= alltoons[webtoon].week %></th>
        <% } %>

        <td class="<%
        for(i=0;i<mytoons.length;i++){
        if(mytoons[i].name == alltoons[webtoon].name){
        %>registered<%
            break;
            }
        }
        %>">
            <form method="post" action="/setting/toggle_toon">
                <input type="hidden" name="toon_index" value="<%= alltoons[webtoon].toon_index %>">
                <input  TYPE="IMAGE" src="<%= alltoons[webtoon].thum_link %>" name="Submit" value="Submit"  align="absmiddle">
            </form>
            <%= alltoons[webtoon].name; %>
        </td>
        <%
        if(current!=alltoons[webtoon].week) {
            current = alltoons[webtoon].week;
        %>

        <%
        }
        }
      }
        %>
    </tr>
</table>
</form>
</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
